<!DOCTYPE html>
<html>
<head>
    <title>Token System</title>
</head>
<body>

<h2>Current Token: {{ token }}</h2>

<form method="POST" action="/add">
    <input type="text" name="name" placeholder="Patient Name" required>
    <input type="text" name="phone" placeholder="Phone Number" required>
    <button type="submit">Add Patient</button>
</form>

<br>
    
<button onclick="callNext()">Next</button>
    
<h3>Patients List:</h3>
<ul>
{% for p in patients %}

<li>
    {{ p.name }} - Token {{ p.token }}
    <a href="/delete/{{ p.token }}">❌</a>
</li>

{% endfor %}
</ul>

<script>
    function callNext() {
        fetch("https://toknify.onrender.com/next")
            .then(res => res.text())
            .then(data => {
                alert("Call triggered");
            })
            .catch(err => {
                alert("Error: " + err);
            });

}
</script> 

</body>
</html>
